<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.plantae.bloodify">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_bloodify"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_bloodify_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ToolbarActivities.BenefitsActivity"
            android:label="@string/beneficii"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.plantae.bloodify.MainActivity" />
        </activity>

        <activity
            android:name=".ToolbarActivities.LostObjectsActivity"
            android:label="@string/obiecte_pierdute"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.plantae.bloodify.MainActivity" />
        </activity>

        <activity
            android:name=".ToolbarActivities.SettingsActivity"
            android:label="@string/setari"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.plantae.bloodify.MainActivity" />
        </activity>

        <activity android:name=".QRCodeActivity"
            android:label="@string/qr_code"
            android:parentActivityName=".ToolbarActivities.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.plantae.bloodify.MainActivity" /> </activity>

        <activity android:name=".BloodDetailsActivity"
            android:label="@string/necesitati"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.plantae.bloodify.MainActivity" /></activity>

    </application>

</manifest>